@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  src: url("../../imports/typography/Montserrat-Bold.ttf"); }

body {
  font-family: "Montserrat Bold", sans-serif;
  background-color: rgba(215, 115, 44, 0.8);
  margin: 0; }

.vcenter {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }

.header {
  align-items: center;
  background-color: white;
  max-width: 1280px;
  margin: auto;
  padding: 0;
  position: relative;
  z-index: 15; }

.header__grid {
  display: grid;
  grid-template-columns: 70% 30%; }

.header__title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  float: left; }

.header__img {
  height: 4rem;
  padding: 1rem; }

.header__menu {
  border-radius: 5px;
  color: white;
  float: right;
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  text-align: right;
  transition: background-color .2s; }

.header__menu .header__menu__link {
  text-align: center; }

.header__menu a {
  display: block; }

.header__menu__link {
  border-top: 1px white solid;
  color: white;
  font-size: .5rem;
  height: 2rem;
  opacity: 0;
  visibility: hidden;
  position: relative;
  text-decoration: none;
  transition: opacity .2s, visibility .2s;
  vertical-align: middle; }

.header__menu__link:hover {
  opacity: .6; }

.icon--menu {
  height: 1.5rem;
  padding: .5rem;
  transition: fill .2s; }

.header__menu.responsive {
  background-color: #656262; }
  .header__menu.responsive .header__menu__link {
    opacity: 1;
    visibility: visible; }
  .header__menu.responsive .icon--menu {
    fill: white; }

@media only screen and (min-width: 768px) {
  .header__grid {
    grid-template-columns: 30% 70%; }
  .header__title {
    font-size: 3rem; }
  .header__img {
    height: 5rem; }
  .header__menu__responsive {
    display: none; }
  .header__menu {
    text-align: center;
    padding-top: 2rem; }
  .header__menu a {
    display: inline;
    padding: 1.5rem; }
  .header__menu__link {
    color: black;
    font-size: .8rem;
    opacity: 1;
    visibility: visible; }
  .icon--menu {
    display: none; }
  .header__menu.responsive {
    background-color: transparent; } }

.footer {
  background-color: white;
  margin: auto;
  max-width: 1280px;
  min-height: 8rem;
  position: relative;
  z-index: 15; }

.footer__flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  padding: 2rem 2rem 0 2rem; }

.footer__flex .flex__box {
  padding: 20px 0 0 0; }

.footer__info {
  flex: 0 1 100%;
  transition: flex .5s; }

.footer__info__link {
  text-decoration: none; }

.footer__rrss {
  flex: 0 1 100%;
  transition: flex .5s;
  text-align: right; }

.footer__rrss__link {
  text-decoration: none;
  transition: opacity .2s; }

.footer__rrss__link:hover {
  opacity: .6; }

.footer__rrss__link .icon {
  height: 2rem;
  padding: 0 1rem 0 0; }

@media only screen and (min-width: 1024px) {
  .footer__flex {
    text-align: left; }
  .footer__info {
    flex: 0 1 80%; }
  .footer__rrss {
    flex: 0 1 20%; } }

.puntos-de-venta {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 5rem;
  max-width: 780px;
  position: relative;
  z-index: 5; }

.puntos-de-venta__box {
  flex: 0 1 100%;
  padding: 5rem 0 0 0; }

.puntos-de-venta__grid {
  display: grid;
  grid-template-rows: 50% 50%; }

.puntos-de-venta__location {
  position: relative; }

.puntos-de-venta__img {
  width: 100%; }

.puntos-de-venta__maps {
  background-color: rgba(215, 115, 44, 0.8);
  display: none;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity .2s;
  opacity: 0;
  width: 80%; }

.puntos-de-venta__maps:hover {
  opacity: 1; }

.puntos-de-venta__mapsbig__link {
  height: 100%;
  width: 100%; }

.puntos-de-venta__mapsbig__link .icon {
  height: 3rem;
  fill: white;
  transform: translate(0rem, 4.5rem); }

.puntos-de-venta__info {
  text-align: center; }

.puntos-de-venta__info h2 {
  color: #656262;
  font-size: 15px; }

.puntos-de-venta__mapssmall__link {
  text-decoration: none;
  color: #656262; }

.puntos-de-venta__info .icon {
  height: 1rem; }

@media only screen and (min-width: 768px) {
  .puntos-de-venta__grid {
    grid-template-columns: 50% 50%; }
  .puntos-de-venta__img {
    width: 80%; }
  .puntos-de-venta__info {
    text-align: left; }
  .puntos-de-venta__maps {
    display: inherit; } }

.nuestras-marcas {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: auto;
  max-width: 780px;
  position: relative;
  z-index: 5; }

.nuestras-marcas__box {
  background-color: white;
  flex: 0 1 100%;
  transition: transform .2s, box-shadow .2s; }

.nuestras-marcas__box:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.2);
  z-index: 10; }

.nuestras-marcas__img {
  transform: scale(0.8);
  width: 100%; }

@media only screen and (min-width: 768px) {
  .nuestras-marcas__box {
    flex: 0 1 calc(100%/3); } }
