$footer-font-family:$font-family-montserrat;
$footer-max-width:$grid;
$footer-background-color:$color-corporative;

.footer{
  background-color:$footer-background-color;
  color: $color-white;
  font-family:$footer-font-family;
  font-weight: bold;
  margin: auto;
  max-width: $footer-max-width;
  min-height:8rem;
  position: relative;
  z-index: 15;
}

.footer__flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  padding: 2rem 2rem 0 2rem;
}

.footer__flex .flex__box{
  padding: 20px 0 0 0;
}

.footer__info{
  flex: 0 1 100%;
  transition: flex .5s;
}

.footer__info__link{
  color: $color-white;
  text-decoration:underline;
}

.footer__rrss{
  flex: 0 1 100%;
  transition: flex .5s;
  text-align:center;
}

.footer__rrss__link{  
  text-decoration: none;
  transition: opacity .2s;
}

.footer__rrss__link:hover{
  opacity:.6;
}

.footer__rrss__link .icon{
  height: 2rem;
  padding: 0 1rem 0 0;
}

@media #{$breakpoints-medium} {


}

@media #{$breakpoints-large} {
  .footer__flex{
    text-align: left;
  }
  .footer__info{
    font-size: .8rem;
    flex: 0 1 100%;
  }

  .footer__rrss{
    flex: 0 1 100%;
    text-align: right;
    margin-top: -2rem;
  }

}

@media #{$breakpoints-xlarge} {

}